<%= turbo_refresh_method_tag :morph %>
<%= turbo_refresh_scroll_tag :preserve %>
<div class="max-w-7xl mx-auto mt-12">
  <div class="shadow overflow-hidden rounded border-b border-gray-200">
    <table class="min-w-full bg-white">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th id="games-title" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
            <%= show_sort_indicator_for("title") %>
            <%= sort_link(column: "title", label: "Título") %> 
          </th>
          <th id="games-genre" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
            <%= show_sort_indicator_for("genres.name") %>
            <%= sort_link(column: "genres.name", label: "Género") %>
          </th>
          <th id="games-platform" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
            <%= show_sort_indicator_for("platforms.name") %>
            <%= sort_link(column: "platforms.name", label: "plataforma") %>
          </th>
        </tr>
      </thead>

      <tbody class="text-gray-700">
        <% @games.each do |game| %>
          <tr>
            <td class="text-left py-3 px-6"><%= game.title %></td>
            <td class="text-left py-3 px-6"><%= game.genre.name %></td>
            <td class="text-left py-3 px-6"><%= game.platform.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
