<%= turbo_refresh_method_tag :morph %>
<%= turbo_refresh_scroll_tag :preserve %>
<div class="max-w-7xl mx-auto mt-12 w-full">
  <div class="shadow rounded border-b border-gray-200">
    <div class="flex justify-end mb-1">
      <%= form_with url: games_path, method: :get, data: { turbo_action: "replace", controller: "autosubmit", turbo_permanent: "" } do |form| %>
        <%= form.text_field :title,
          placeholder: "Buscar por nombre",
          value: session.dig("filters", "title"),
          class: "border border-blue-500 rounded p-2",
          data: {
            action: "autosubmit#submit"
          }
        %>
      <% end %>
    </div>
    <table class="bg-white min-w-full">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th id="games-title" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
            <%= show_sort_indicator_for("title") %>
            <%= sort_link(column: "title", label: "Título") %> 
          </th>
          <th id="games-genre" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
            <%= show_sort_indicator_for("genres.name") %>
            <%= sort_link(column: "genres.name", label: "Género") %>
          </th>
          <th id="games-platform" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
            <%= show_sort_indicator_for("platforms.name") %>
            <%= sort_link(column: "platforms.name", label: "plataforma") %>
          </th>
        </tr>
      </thead>

      <tbody class="text-gray-700">
        <% @games.each do |game| %>
          <tr>
            <td class="text-left py-3 px-6"><%= game.title %></td>
            <td class="text-left py-3 px-6"><%= game.genre.name %></td>
            <td class="text-left py-3 px-6"><%= game.platform.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
